requests==2.31.0
pydantic==2.7.1
pydantic_core==2.18.2
fastapi
uvicorn[standard]
pdfplumber==0.11.0
weaviate-client==4.5.4
PyPDF2==3.0.1
PyMuPDF==1.24.3
llama-parse==0.4.2
llama-index-readers-file==0.1.22
nest_asyncio==1.6.0
llama-index==0.10.37
llama-index-core==0.10.37
llama-index-legacy==0.9.48
sentence-transformers==2.7.0
fastparquet==2024.2.0
litellm==1.37.12
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.1